@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

h1 {
    color: blue;
    font-family: 'Potta One', cursive;
    padding-left:20px;
}

h3 {
   color: black;
    font-family: 'Lobster', cursive;
    padding-left:20px; 
}

.header{
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: space-between;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}



.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footers{
    position: fixed;
    bottom: 0;
}

h2,p{
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 10px;
}

.menu{
    padding-right:30px;
    margin-top:20px;
}

.menu a{
    margin-left :10px;
}

body{
    background-color: rgb(244, 255, 0);
    position: fixed;
}

a:link{
    color: rgb(39, 54, 37);
}
a:visited{
    color: rgb(255, 0, 0);
}
