@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

h1 {
    color: blue;
    font-family: 'Potta One', cursive;
    padding-left:20px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 138, 65);
}